.header {
    display: flex;
    flex-direction: column; 
  justify-content: center;  
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;       
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f2e9e9;
  color: #2e2d2d
}
.appName {
    margin-bottom: 10px;
}